<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072529153607-ido03m8vrg11a6tabtpv9pl5njtshfeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072529153607-ido03m8vrg11a6tabtpv9pl5njtshfeo</string>
	<key>API_KEY</key>
	<string>AIzaSyASad6xN8exhSVZLlvEvjG5W5J9qdNJ4FM</string>
	<key>GCM_SENDER_ID</key>
	<string>1072529153607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourspotV2</string>
	<key>PROJECT_ID</key>
	<string>yourspotv2</string>
	<key>STORAGE_BUCKET</key>
	<string>yourspotv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072529153607:ios:5abecbf83a84b52ad2db62</string>
	<key>DATABASE_URL</key>
	<string>https://yourspotv2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>